<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @retailer.name %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @retailer.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @retailer.latitude %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @retailer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @retailer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @retailer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @retailer.state %>
</p>

<p>
  <strong>Zip5:</strong>
  <%= @retailer.zip5 %>
</p>

<p>
  <strong>Zip4:</strong>
  <%= @retailer.zip4 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @retailer.country %>
</p>

<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>
